@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  color: #222;
  font-family: "Roboto","Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.3;
}

img{
  box-shadow: 5px 5px 5px #222;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(255,182,193);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
.image {
  display: block;
  width: 40%;
  height: auto;
}

.container:hover .overlay {
  width: 100%;
}

.container {
  position: relative;
  width: 60%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

p {
  padding: 0px;
  margin: 0px;
}



#wrapper{
  width:600px;
  margin: 0 auto;
}

h3{
  padding: 1px;
  margin: 1px;
}

h2{
  padding: 1px;
  margin: 1px;
}


.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#education,
#workx,
#SAI{
  background-color: rgb(255,182,193);
  color: rgb(255,250,240);
}

li {
  background-color: rgb(255,182,193);
  color: rgb(255,250,240);
  list-style-type: square;
}

div {
  border-radius: 5px;
}

header {
  font-size: 24px;
  background-color: rgb(255,182,193);
  color: rgb(255,250,240);
  text-align: center;
  z-index: 1;
  position: relative;
  min-height:100px;
}

a,
a:link {
  color: rgb(255,182,193);
}

a:visited {
  color: rgb(0,0,0);
}

a:hover {
    color: rgb(253,108,121);
}

a:active {
  color: rgb(182,216,228);
}
