body {
  color: #222;
  font-family: "Roboto","Open Sans", sans-serif;
  font-size: 14px;
}

/*Fun fact: This is the official color code of the Somalia flag!*/
h1 {
  font-size: 60px;
  color: rgb(65,137,221);
}

p {
  color: rgb(0,0,0);
  padding: 5px;
  margin: 5px;
}

table{
  border: 1px solid #222;
  padding: 10px;
}

li {
  color: rgb(0,0,0);
  list-style-type: square;
}

header {
  font-size: 24px;
}

img{
  box-shadow: 5px 5px 5px #222;
  margin: 10px;
}
#wrapper{
  max-width: :960px;
  margin:0;
}

#introduction,
#geography,
#peopleandsociety,
#militaryandsecurity{
  background-color: rgb(211,211,211);
  color: rgb(65,137,221);
}

.photo-cap {
  font-size: 12px;
  font-style: italic;
  margin-top: 8px;
}

a:link {
  color: rgb(65,137,221);
}

a:visited {
  color: rgb(187,201,114);
}

a:hover {
    color: rgb(253,108,121);
}

a:active {
  color: rgb(182,216,228);
}
